<!-- 

<div ng-controller="User"
  <form ng-submit="submit()" class="form-horizontal" novalidate>

    <div class="control-group" ng-class="error('image')">
      <label class="control-label" for="image">Image</label>
      <div class="controls">
        <input type="image" ng-model="user.image" placeholder="Image" required/>
        <span class="help-block"
          ng-show="form.image.$invalid && form.image.$dirty">
          Image is required
        </span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button ng-disabled="form.$invalid" class="btn">Submit</button>
      </div>
    </div>
    
    <style type="text/css">
      input.ng-invalid.ng-dirty {
        background-color: red;
      }
      input.ng-valid.ng-dirty {
        background-color: green;
      }
    </style>
  </form>
</div> -->